/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family:'Arvo', serif;
  
}

.space{

  /* Pass a comma separated list of backgrounds: */
  background:url('http://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/rocket_big.png') no-repeat center 1000px, url('http://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/space.jpg') no-repeat bottom center;
  background-size:;
  width:200px;
  height:200px;
  margin: 0 auto;

  border-radius:3px;

  /* Animate the positions of both of the backgrounds */
  transition:background-position 1s;
}

.space:hover{
  /* The same goes for properties like background-position and repeat */
  background-position:top, top center;
}

#white {
	color:white;
}

#learnmore {
	padding-top:200px;
	color:black;
}

#mc_embed_signup {
	padding-top:250px;
}

button {
	border:3px black solid;
}

button:hover {
	text-decoration:underline;
}

#aboutme {
	background-color:#f5f5f5;
	padding:50px;
}

#who {
	padding-top:10px;
	padding-bottom:50px;
	background-color:#ECE6DB;
}

#who h2 {
	padding-bottom:40px;
	font-weight:bold;
	padding-top:40px;
}

#who iframe {
	width:100%;
}

#who hr {
	width:100%;
	border-color:#0075BB;
}

#back-to-top {
	position: fixed;
	bottom: 40px;
	right: 20px;
}

#back-to-top a {
	color:#333;
}

.navbar-brand {
	font-family:'Lato', 'Arvo', serif;
	font-size:1.9em;
	font-weight:100;
	letter-spacing: 1px;
}


.col-md-5 img {
	width:100%;
}

.col-md-7, .col-md-5, .col-md-pull-7, .col-md-push-5 {
	padding-top:50px;
	padding-bottom:50px;
}

.loo img {
	height:250px;
	width:250px;
}

.jumbotron {
	text-align:center;
	background-image: url('../images/Hongkong.jpg');
	/*background-attachment:fixed; */
	padding:60px;
	margin:0;

}

.jumbotron h1 {
	color:#E3C261;
}
.jumbotron p {
	font-weight:200;
	color:#777777
}

.container h1, ul.nav, .container ul{
	font-family: 'Arvo' , serif;
}

.container h1 {
	padding-bottom:15px;
}

.container ul {
	padding-right:40px;
	list-style:none;
}

.form-control {
	height:46px;
}

.homepage {
	text-align:center;
}

.homepage h2 , .homepage h3 {
	color:#e74c3c;
	font-family: 'Arvo' , serif;
	text-transform: uppercase;
}

.homepage h2 {
	font-size:30px;
}


.homepage h3 {
	font-size:26px;
}

.homepage p {
	font-size: 21px;
	font-weight: 300;
}

.homepage a {
	color:#e74c3c;

}

.homepage a:hover {
	text-decoration:underline;
	opacity:0.8;
}

.homepage hr {
	border-color:#e74c3c;
	width:160px;
}


.text-muted {
	font-size:25px;
	font-style:italic;
}

footer img {
	width:100%;
	height:250px;
}





